#cv-layout {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 30px;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0.3em 0.3em 1em rgba(0,0,0,0.3), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
#cv-layout {
  
}
.profile-table .box-avatar {
    width: 160px;
    padding-right: 30px;
    
}
.profile-table .box-avatar img {
    width: 100%;
}
#cv-profile-fullname {
    font-size: 26px;
    font-weight: bold;
    color: #0e2452;
}
 .profile-table  tr td .profile-label{
     width: 105px !important;
     display: inline-block;
     font-weight: 700;
    font-size: normal;
}
.cv-block-title {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #14171d;
}
.cv-block-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;

}
.cv-block-body {
    margin-top: 10px;
}
.cv-block{
    margin: 30px 0;
}
#education-table {
    display: flex;

}

.project_title .cv-project-name {
    margin: 0 !important;
    margin-top: 20px !important;
}
.time-prj {
    margin-bottom: 10px;
}
.project_details  table tr th {
    padding: 3px;
}
.project_details  table tr td {
    padding: 3px;
}
.time {
   display: flex;
}
.cv-education-time,.cv-experience-time,.cv-activity-time,.cv-certification-time-wraper,.cv-award-time-wraper,.skill {
    min-width: 190px;
}
.cv-experience-company,.cv-education-school,.cv-activity-organization,.cv-skillgroup-area {
    font-weight: 700;
}
.box-avatar {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
}
.cv-profile-name {
    margin: auto;
    font-weight: 700;
    width: 80%;
    font-size: 24px;
    line-height: 1.2em;
}
.title span {
    font-size: 20px;
    line-height: 1em;
    padding-left: 5px;
    padding-top: 4px;
}
.info span {
    padding-right: 40px;
    display: inline-block;
    text-align: right;
}
.skill {
    margin-bottom: 10px;
}
#skill-table .item {
    margin-bottom: 10px;
}
.cv-profile .box {
    display: flex;
}
.info span {
    text-align: left;
}
.title span {
letter-spacing: 2px;
font-size: 14px;
line-height: 1em;
padding: 10px 0;
border-bottom: 2px solid;
}
.school ,.company {
    padding: 10px 0;
}
.cv-education-details,.cv-experience-details ,.cv-activity-details {
    padding: 0px 10px;
    margin-left: 4px;
    border-left: 2px solid;
}
.cv-experience-position ,.cv-education-title,.cv-activity-position{
    padding: 0px 20px;
    position: relative;
    font-style: italic;
}
.cv-experience-position::before ,.cv-education-title::before ,.cv-activity-position::before{
    content: "";
    width: 10px;
    height: 10px;
    left: 0;
    top: 3px;
    background: black;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}