#cv-layout {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}
#layout-header {
    width: 100%;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
}
#cv-layout {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);

}
.profile-table .box-avatar {
    width: 160px;
    padding-right: 30px;
    
}
.profile-table .box-avatar img {
    width: 100%;
}
#cv-profile-fullname {
    font-size: 26px;
    font-weight: bold;
    color: #0e2452;
}
 .profile-table  tr td .profile-label{
     width: 105px !important;
     display: inline-block;
     font-weight: 700;
    font-size: normal;
}
.cv-block-title {
    margin: 0;
    padding-bottom: 5px;
}
.cv-block-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.cv-block-body {
    margin-top: 10px;
}
.cv-block{
    margin: 30px 0;
    padding: 20px;
}
#education-table {
    display: flex;

}

.project_title .cv-project-name {
    margin: 0 !important;
    margin-top: 20px !important;
}
.time-prj {
    margin-bottom: 10px;
}
.project_details  table tr th {
    padding: 3px;
}
.project_details  table tr td {
    padding: 3px;
}
.time {
    display: flex;
}
.cv-education-time,.cv-experience-time,.cv-activity-time,.cv-certification-time-wraper,.cv-award-time-wraper,.skill {
    min-width: 190px;
}
.cv-experience-company,.cv-education-school,.cv-activity-organization,.cv-skillgroup-area {
    font-weight: 700;
}
.box-avatar {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
}
.cv-profile {

}
.cv-profile-name {
    margin: auto;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2em;
}
.title span {
    font-size: 20px;
    line-height: 1em;
    padding-left: 5px;
    padding-top: 4px;
    color: #fff;
}
.info span {
    width: 30%;
    display: inline-block;
    text-align: right;
}
.skill {
    margin-bottom: 10px;
}
#skill-table .item {
    margin-bottom: 10px;
}
.cv-profile .box {
    display: flex;
    padding: 25px 50px;
}