<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senior</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cvSenior.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div id="cv-Senior">
        <div id="cv-layout">
            <div id="layout-header">
                <div class="cv-profile">
                    <h1>
                        <span id="cv-profile-name">
                            Nguyễn Văn A
                        </span>
                    </h1>
                    <p><span>Số 1 đường Cầu Giấy,Hà Nội</span></p>
                    <p><span><i class="fas fa-phone-alt"></i>0334039718</span><span><i
                                class="fas fa-envelope"></i>kiennguyenhuu0207@gmail.com</span><span><i
                                class="fas fa-link"></i>http:go</span></p>
                </div>
                <div id="layout-content">
                    <div class="cv-block">
                        <h3 class="cv-block-title"><span>Mục tiêu
                                nghề nghiệp</span></h3>
                        <div class="cv-block-body">
                            <div id="cv-des">Áp dụng những kinh nghiệm về kỹ năng
                                bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên
                                bán hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó
                                giúp Công ty tăng số lượng khách hàng và mở rộng tập khách hàng.
                            </div>
                        </div>
                    </div>
                    <div id="cv-education box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span>Học vấn</span></h3>
                        <div id="education-table">
                            <!-- <div class="time">
                                <div class="cv-education-time ">
                                    <span class="cv-education-start start">10/2010</span>
                                    -
                                    <span class="cv-education-end end">05/2014</span>
                                </div>
                            </div> -->
                            <div class="school">
                                <span class="cv-education-school">Đại học TOPCV</span><br>
                                <span class="cv-education-title">Chuyên ngành: Quản trị Doanh
                                    nghiệp</span> <br>
                                <span class="cv-education-details">Tốt nghiệp loại Giỏi, điểm
                                    trung bình 8.0</span>
                            </div>
                        </div>
                    </div>
                    <div id="cv-experience box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span>Kinh nghiệm
                                làm việc</span></h3>
                        <div id="experience-table">
                            <div class="time">
                                <!-- <div class="cv-experience-time ">
                                    <span class="cv-experience-start ">03/2015</span>
                                    -
                                    <span class="cv-experience-end ">Hiện tại</span>
                                </div> -->
                                <div class="company">
                                    <span class="cv-experience-company">Công ty TOPCV</span><br>
                                    <span class="cv-experience-position">Nhân viên bán hàng</span><br>
                                    <div class="cv-experience-details">- Hỗ trợ viết bài quảng cáo
                                        sản phẩm qua kênh facebook, các forum,...<br>- Giới thiệu,
                                        tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng
                                        qua điện thoại và email.</div>
                                </div>

                            </div>
                            <div class="time">
                                <!-- <div class="cv-experience-time">
                                    <span class="cv-experience-start ">06/2014</span>
                                    -
                                    <span class="cv-experience-end ">02/2015</span>
                                </div> -->
                                <div class="company">
                                    <span class="cv-experience-company">Cửa hàng TOPCV</span><br>
                                    <span class="cv-experience-position">Nhân viên bán hàng</span><br>
                                    <div class="cv-experience-details">- Bán hàng trực tiếp tại cửa
                                        hàng cho người nước ngoài và người Việt.<br>- Quảng bá sản
                                        phẩm thông qua các ấn phẩm truyền thông: banner, poster, tờ
                                        rơi...<br>- Lập báo cáo sản lượng bán ra hàng ngày.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="cv-activity box-padding box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span id="cv-activity-blocktitle">Hoạt
                                động</span></h3>
                        <div id="activity-table">
                            <div class="time ">
                                <!-- <div class="cv-activity-time ">
                                    <span class="cv-activity-start start">10/2013</span>
                                    -
                                    <span class="cv-activity-end end">08/2014</span>
                                </div> -->
                                <div class="organization">
                                    <span class="cv-activity-organization">Nhóm tình nguyện
                                        TOPCV</span><br>
                                    <span class="cv-activity-position">Tình nguyện viên</span><br>
                                    <div class="cv-activity-details">Tập hợp các món quà và phân
                                        phát tới người vô gia cư.<br>- Chia sẻ, động viên họ vượt
                                        qua giai đoạn khó khăn, giúp họ có những suy nghĩ lạc quan.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="cv-certification box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span id="cv-certification-blocktitle">Chứng
                                chỉ</span></h3>
                        <div id="certification-table">
                            <div class="time ">
                                <!-- <div class="cv-certification-time-wraper ">
                                    <span class="cv-certification-time">2013</span>
                                </div> -->
                                <div class="details">
                                    <span class="cv-certification-title">Giải nhất Tài năng
                                        TOPCV</span><br>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="cv-award box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span id="cv-award-blocktitle">Giải
                                thưởng</span></h3>
                        <div id="award-table">
                            <div class="time ">
                                <!-- <div class="cv-award-time-wraper ">
                                    <span class="cv-award-time">2014</span>
                                </div> -->
                                <div class="details">
                                    <span class="cv-award-title">Nhân viên xuất sắc năm công ty
                                        TOPCV</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="cv-skillgroup box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span id="cv-skillgroup-blocktitle">Các kỹ
                                năng</span></h3>
                        <div id="skill-table">
                            <div class="time">
                                <div class="skill">
                                    <span class="cv-skillgroup-area">Tin học văn phòng TOPCV</span><br>
                                </div>
                                <div>
                                    <span class="cv-skillgroup-skill-description">- Sử dụng thành
                                        thạo các công cụ Word, Excel, Power Point</span>
                                </div>
                            </div>
                            <div class="time">
                                <div class="skill">
                                    <span class="cv-skillgroup-area">Tiếng Anh</span>
                                </div>
                                <div>
                                    <span class="cv-skillgroup-skill-description">- Khả năng giao
                                        tiếp Tiếng Anh trôi chảy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cv-interests box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span id="cv-interests-blocktitle">Sở
                                thích</span></h3>
                        <div class="cv-block-body">
                            <span id="cv-interests-interests">Đọc sách - Mỗi tháng đọc 1 quyển sách
                                về kinh doanh.<br>Đá bóng - Tham gia hoạt động đá bóng của công ty
                                hàng tuần</span>
                        </div>
                    </div>
                    <div id="cv-additional-info box-padding" class="cv-block">
                        <div class="cv-block-title"><span id="cv-additional-info-blocktitle">Thông
                                tin thêm</span></div>
                        <div id="cv-additional-information-details">Điền các thông tin khác (nếu
                            có)</div>
                    </div>
                    <div id="cv-reference box-padding" class="cv-block">
                        <h3 class="cv-block-title"><span id="cv-reference-blocktitle">Người tham
                                chiếu</span></h3>
                        <div id="reference-table">
                            <div class="time">
                                <div>
                                    <span class="cv-reference-content">
                                        Anh... - Trưởng phòng Marketing<br>Công ty TOPCV<br>Điện
                                        thoại:...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cv-block box-padding" id="cv-project">
                        <h3 class="cv-block-title"><span id="cv-project-blocktitle">Dự án</span>
                        </h3>
                        <div id="project-table">

                            <div class="times">
                                <div class="project_title">
                                    <h4 class="cv-project-name">Rainway Group</h4>
                                    <div class="time-prj">
                                        (<span class="cv-project-start start">2014</span>
                                        -
                                        <span class="cv-project-end end">2015</span>)
                                    </div>
                                </div>
                                <div class="project_details">
                                    <table border="1">
                                        <tbody>
                                            <tr>
                                                <th>Khách hàng</th>
                                                <td class="cv-project-customer">ANZ TOPCV</td>
                                            </tr>
                                            <tr>
                                                <th>Mô tả dự án</th>
                                                <td class="cv-project-description">- Ứng dụng
                                                    mobile giúp mọi người đặt vé nhanh chóng, bất kỳ
                                                    lúc nào, bất kỳ đâu.</td>
                                            </tr>
                                            <tr>
                                                <th>Số lượng thành viên</th>
                                                <td class="cv-project-team-size">8</td>
                                            </tr>
                                            <tr>
                                                <th>Vị trí công việc</th>
                                                <td class="cv-project-my-position">Lập trình viên
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Vai trò trong dự án</th>
                                                <td class="cv-project-my-responsibility">- Phân
                                                    tích và thiết kế hệ thống<br>- Phát triển
                                                    module<br>- Tối ưu code<br>- Sửa lỗi</td>
                                            </tr>
                                            <tr>
                                                <th>Công nghệ sử dụng</th>
                                                <td class="cv-project-technologies-used">- Android
                                                    Studio 1.4, Java, Android 4.0<br>- Google Cloud
                                                    Message</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>